%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%margin-bottom {
    margin-bottom: $base-spacing-unit;
    margin-bottom: ($base-spacing-unit / $base-font-size) * 1rem;

    &:last-child {
        margin-bottom: 0;
    }
}

%margin-left {
    margin-left: 2 * $base-spacing-unit;
    margin-left: (2 * $base-spacing-unit / $base-font-size) * 1rem;
}
