html { font-size: 62.5%; }
body {
  margin: 0;
  padding: 0;
  background: #eee;
  font-size: 1.4rem;
  font-family: Helvetica, Arial, sans-serif;
  * {
    box-sizing: border-box;
  }
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

p {
  font-size: 1.6rem;
  line-height: 1.6;
}

@font-face {
    font-family: 'bbcicons--media';
    src: url(http://clients.tuimedia.com/bbc/fonts/gelicons-media.ttf);
}
@font-face {
    font-family: 'bbcicons--social';
    src: url(http://clients.tuimedia.com/bbc/fonts/gelicons-social.ttf);
}

@font-face {
    font-family: 'bbcicons--core';
    src: url(http://clients.tuimedia.com/bbc/fonts/gelicons-core.ttf);
}
