
// default to no web fonts
// ---------------------------------------------------- //

$fs-clerkenwell:          false!default;
$fs-clerkenwell-bold:     false!default;
$fs-clerkenwell-italic:   false!default;
$fs-clerkenwell-light:    false!default;

$fs-elliot-bold:          false!default;
$fs-elliot-bolditalic:    false!default;
$fs-elliot-heavy:         false!default;
$fs-elliot-heavyitalic:   false!default;
$fs-elliot-italic:        false!default;
$fs-elliot-light:         false!default;
$fs-elliot-lightitalic:   false!default;
$fs-elliot-regular:       false!default;
$fs-elliot-thin:          false!default;
$fs-elliot-thinitalic:    false!default;

@if $fs-clerkenwell == true {
  @font-face {
    font-family: fs-clerkenwell;
    src: url('http://clients.tuimedia.com/bbc-assets/fonts/FS Clerkenwell.ttf');
  }
}
@if $fs-clerkenwell-bold == true {
  @font-face {
    font-family: fs-clerkenwell-bold;
    src: url('http://clients.tuimedia.com/bbc-assets/fonts/FS Clerkenwell Bold.ttf');
  }
}
@if $fs-clerkenwell-italic == true {
  @font-face {
    font-family: fs-clerkenwell-italic;
    src: url('http://clients.tuimedia.com/bbc-assets/fonts/FS Clerkenwell Italic.ttf');
  }
}
@if $fs-clerkenwell-light == true {
  @font-face {
    font-family: fs-clerkenwell-light;
    src: url('http://clients.tuimedia.com/bbc-assets/fonts/FS Clerkenwell Light.ttf');
  }
}
@if $fs-elliot-bold == true {
  @font-face {
    font-family: fs-elliot-bold;
    src: url('http://clients.tuimedia.com/bbc-assets/fonts/FS Elliot-Bold.otf');
  }
}
@if $fs-elliot-bolditalic == true {
  @font-face {
    font-family: fs-elliot-bolditalic;
    src: url('http://clients.tuimedia.com/bbc-assets/fonts/FS Elliot-BoldItalic.otf');
  }
}
@if $fs-elliot-heavy == true {
  @font-face {
    font-family: fs-elliot-heavy;
    src: url('http://clients.tuimedia.com/bbc-assets/fonts/FS Elliot-Heavy.otf');
  }
}
@if $fs-elliot-heavyitalic == true {
  @font-face {
    font-family: fs-elliot-heavyitalic;
    src: url('http://clients.tuimedia.com/bbc-assets/fonts/FS Elliot-HeavyItalic.otf');
  }
}
@if $fs-elliot-italic == true {
  @font-face {
    font-family: fs-elliot-italic;
    src: url('http://clients.tuimedia.com/bbc-assets/fonts/FS Elliot-Italic.otf');
  }
}
@if $fs-elliot-light == true {
  @font-face {
    font-family: fs-elliot-light;
    src: url('http://clients.tuimedia.com/bbc-assets/fonts/FS Elliot-Light.otf');
  }
}
@if $fs-elliot-lightitalic == true {
  @font-face {
    font-family: fs-elliot-lightitalic;
    src: url('http://clients.tuimedia.com/bbc-assets/fonts/FS Elliot-LightItalic.otf');
  }
}
@if $fs-elliot-regular == true {
  @font-face {
    font-family: fs-elliot-regular;
    src: url('http://clients.tuimedia.com/bbc-assets/fonts/FS Elliot-Regular.otf');
  }
}
@if $fs-elliot-thin == true {
  @font-face {
    font-family: fs-elliot-thin;
    src: url('http://clients.tuimedia.com/bbc-assets/fonts/FS Elliot-Thin.otf');
  }
}
@if $fs-elliot-thinitalic == true {
  @font-face {
    font-family: fs-elliot-thinitalic;
    src: url('http://clients.tuimedia.com/bbc-assets/fonts/FS Elliot-ThinItalic.otf');
  }
}

.fs-clerkenwell,
%fs-clerkenwell {
  font-family: fs-clerkenwell, serif;
  font-weight: normal;
}
.fs-clerkenwell-bold,
%fs-clerkenwell-bold {
  font-family: fs-clerkenwell, serif;
  font-weight: normal;
}
.fs-clerkenwell-italic,
%fs-clerkenwell-italic {
  font-family: fs-clerkenwell-italic, serif;
}
.fs-clerkenwell-light,
%fs-clerkenwell-light {
  font-family: fs-clerkenwell-light, serif;
}
.fs-elliot-bold,
%fs-elliot-bold {
  font-family: fs-elliot-bold, sans-serif;
}
.fs-elliot-bolditalic,
%fs-elliot-bolditalic {
  font-family: fs-elliot-bolditalic, sans-serif;
}
.fs-elliot-heavy,
%fs-elliot-heavy {
  font-family: fs-elliot-heavy, sans-serif;
}
.fs-elliot-heavyitalic,
%fs-elliot-heavyitalic {
  font-family: fs-elliot-heavyitalic, sans-serif;
}
.fs-elliot-italic,
%fs-elliot-italic {
  font-family: fs-elliot-italic, sans-serif;
}
.fs-elliot-light,
%fs-elliot-light {
  font-family: fs-elliot-light, sans-serif;
}
.fs-elliot-lightitalic,
%fs-elliot-lightitalic {
  font-family: fs-elliot-lightitalic, sans-serif;
}
.fs-elliot-regular,
%fs-elliot-regular {
  font-family: fs-elliot-regular, sans-serif;
}
.fs-elliot-thin,
%fs-elliot-thin {
  font-family: fs-elliot-thin, sans-serif;
}
.fs-elliot-thinitalic,
%fs-elliot-thinitalic {
  font-family: fs-elliot-thinitalic, sans-serif;
}