@if $use-flexbox == true{

/*------------------------------------*\
    $FLEXBOX
\*------------------------------------*/
/**
 * Until we can utilise flexbox natively we can kinda, sorta, attempt to emulate
 * it, in a way... e.g.:
 *
   <header class=flexbox>

       <div class=flexbox__item>
           <b>Welcome to</b>
       </div>

       <div class=flexbox__item>
           <img src="//csswizardry.com/inuitcss/img/logo.jpg" alt="inuit.css">
       </div>

   </header>
 *
 * We can also combine our grid system classes with `.flexbox__item` classes,
 * e.g.:
 *
   <div class=flexbox>
       <div class="flexbox__item  one-quarter">
       </div>
       <div class="flexbox__item  three-quarters">
       </div>
   </div>
 *
 * It’s pretty poorly named I’m afraid, but it works...
 *
 * Demo: jsfiddle.net/inuitcss/ufUh2
 *
 */

 // EDIT: ont care abot flexbox support. Swapping out hacky table layout for real flexbox layout


.flexbox {
    @extend %margin-bottom;
    display: flex;
    flex-wrap: wrap;
    margin-left: -$base-spacing-unit;

    &__item {
      padding-left: -$base-spacing-unit;
    }
}

// Items on every row will always stretch to 100%
.flexbox--stretch {
    align-content: stretch;
    align-items: stretch;

    > .flexbox__item {
        flex-grow: 1;
    }
}

// Matches cell height to the sibling grid items on that row
.flexbox--flex-cell {
    > .flexbox__item {
        display: flex;
    }
}

// Make sure grid doesn't wrap
.flexbox--nowrap {
    flex-wrap: nowrap;
}

// Removes any gutter from the grid
.flexbox--flush {
    margin-left: 0;

    > .flexbox__item {
        margin-bottom: 0;
        padding-left: 0;
    }
}

// Smaller grid gutter
.flexbox--slim {
      margin-left: -$base-spacing-unit/3;

    > .flexbox__item {
        margin-bottom: $base-spacing-unit/3;
        padding-left: $base-spacing-unit/3;
    }
}//endif
