// ---------------------------------------------------- //
html,
body {
  height: 100%;
}

// global GEL wrapper
// no width restrictions
// ---------------------------------------------------- //

%gel-content-wrap,
.gel-content-wrap {
  height: 100%;
  position: relative;
  z-index: 1;
}

// default link style
// ---------------------------------------------------- //

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
