// ---------------------------------------------------- //
html,
body {
  height: 100%;
}

// global GEL wrapper
// no width restrictions
// ---------------------------------------------------- //

%gel-content-wrap,
.gel-content-wrap {
  height: 100%;
  position: relative;
  z-index: 1;
}

// global content wrapper
// ---------------------------------------------------- //

%gel-wrap,
.gel-wrap {
  position: relative;
  width: 100%;
  max-width: $gel-max-page-width;
  margin: 0 auto;
  padding: 0 $base-spacing-unit/2;

  @include media-query(map-get($break, s)) {
    padding: 0 $base-spacing-unit;
  }

  &--no-padding {
    padding: 0;
  }
}

// default link style
// ---------------------------------------------------- //

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
