.nav {
  list-style: none;
  margin-left: 0;

  > li {
    &, > a {
      display: inline-block;
    }
  }

  &--stacked {
    li {
      display: list-item;

      > a {
        display: block;
      }
    }
  }
}
