.gel-grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$base-spacing-unit/2;

  @include media-query(map-get($break, s)) {
    margin-left: -$base-spacing-unit;
  }

  &__item {
    padding-left: $base-spacing-unit/2;
    width: 100%;
    flex-grow: 1;

    @include media-query(map-get($break, s)) {
      padding-left: $base-spacing-unit;
    }
  }

  &--flush {
    margin-left: 0;

    .gel-grid__item {
      padding-left: 0;
    }
  }

  &--stretch {
    > .gel-grid__item {
      display: flex;
    }
  }
}
