/*------------------------------------*\
    VARS.SCSS
\*------------------------------------*/
/**
 * Any variables you find set in inuit.css’ `_vars.scss` that you do not wish to
 * keep, simply redefine here. This means that if inuit.css, for example, sets
 * your `$base-font-size` at 16px and you wish it to be 14px, simply redeclare
 * that variable in this file. inuit.css ignores its own variables in favour of
 * using your own, so you can completely modify how inuit.css works without ever
 * having to alter the framework itself.
 */





/*------------------------------------*\
    $OBJECTS-AND-ABSTRACTIONS
\*------------------------------------*/
/**
 * All of inuit.css’ objects and abstractions are initially turned off by
 * default. This means that you start any project with as little as possible,
 * and introducing objects and abstractions is as simple as switching the
 * following variables to `true`.
 */
$use-grids:         true;
$use-flexbox:       true;
$use-columns:       true;
$use-nav:           true;
$use-options:       true;
$use-pagination:    true;
$use-breadcrumb:    true;
$use-media:         true;
$use-marginalia:    true;
$use-island:        true;
$use-block-list:    true;
$use-matrix:        true;
$use-split:         true;
$use-this-or-this:  true;
$use-link-complex:  true;
$use-flyout:        true;
$use-arrows:        true;
$use-sprite:        true;
$use-icon-text:     true;
$use-beautons:      true;
$use-lozenges:      true;
$use-rules:         true;
$use-stats:         true;
$use-greybox:       true;





/*------------------------------------*\
    $OVERRIDES
\*------------------------------------*/
/**
 * Place any variables that should override inuit.css’ defaults here.
 */





/*------------------------------------*\
    $CUSTOM
\*------------------------------------*/
/**
 * Place any of your own variables that sit on top of inuit.css here.
 */



$font-sizes: (
    tera: 72px,
    giga: 60px,
    mega: 48px,
    alpha: 36px,
    beta: 27px,
    gamma: 24px,
    delta: 20px,
    epsilon: 18px,
    zeta: 16px
) !default;


$columns: (
    'one-whole': 100%,
    'seven-eighths': 87.5%,
    'four-fifths': 80%,
    'three-quarters': 75%,
    'two-thirds': 66.6666%,
    'five-eighths': 62.5%,
    'three-fifths': 60%,
    'one-half': 50%,
    'two-fifths': 40%,
    'three-eighths': 37.5%,
    'one-third': 33.3333%,
    'one-quarter': 25%,
    'one-fifth': 20%,
    'one-eighth': 12.5%
) !default;


$break: (
    xs: 480px,
     s: 640px,
     m: 960px,
     l: 1200px,
    xl: 1440px
) !default;


$base-ratio: 1.5 !default;
$base-font-size: 16px !default;
$base-line-height: $base-font-size * $base-ratio !default;
$base-ratio: $base-line-height / $base-font-size !default;
$base-spacing-unit: $base-line-height !default;
$base-grid-gutter: $base-spacing-unit*2 !default;


$brand-colors: (
    bbc-one: #b60706,
    bbc-two: #005761,
    bbc-three: #3e1638,
    bbc-four: #8FBE1D,
    bbc-news: #900,
    bbc-radio3: #CD202C,
    playlister: #EC6409,
    iplayer: #f54997,
    bbc-sport: #fedd53
);



$base-spacing-unit: 16px;
$half-spacing-unit: $base-spacing-unit/2;

// breakpoints
$break-small:      640px;
$break-medium:     860px;
$break-large:      1200px;