.grid {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

.grid:last-child {
  margin-bottom: 0;
}

.icon {
  position: relative;
  font-style: normal;
  display: block;
  line-height: 1;
  text-align: center;
  font-size: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.icon--quote {
  font-family: 'bbcicons--core';
}

.icon--quote:before {
  content: '"';
}

.icon--tick {
  font-family: 'bbcicons--core';
}

.icon--tick:before {
  content: '\E00D';
}

.icon--playlister {
  font-family: 'bbcicons--core';
  font-size: 24px;
  color: #fff;
  background: #EC6409;
}

.icon--playlister:before {
  content: '\E031';
}

.icon--duration {
  font-family: 'bbcicons--core';
}

.icon--duration:before {
  content: '\E014';
}

.icon--add {
  font-family: 'bbcicons--core';
}

.icon--add:before {
  content: '\e00f';
}

.icon--arrow-up {
  font-family: 'bbcicons--core';
}

.icon--arrow-up:before {
  content: '\e003';
}

.icon--close {
  font-family: 'bbcicons--core';
}

.icon--close:before {
  content: '\E00E';
}

.icon--iplayer {
  font-family: 'bbcicons--media';
}

.icon--iplayer:before {
  content: '\e000';
}

.icon--audio {
  font-family: 'bbcicons--media';
}

.icon--audio:before {
  content: '\e111';
}

.icon--prev {
  font-family: 'bbcicons--media';
}

.icon--prev:before {
  content: '\e114';
}

.icon--next {
  font-family: 'bbcicons--media';
}

.icon--next:before {
  content: '\e115';
}

.icon--story {
  font-family: 'bbcicons--media';
}

.icon--story:before {
  content: '\e118';
}

.icon--play {
  font-family: 'bbcicons--media';
}

.icon--play:before {
  content: '\e112';
}

.icon--pause {
  font-family: 'bbcicons--media';
}

.icon--pause:before {
  content: '\e113';
}

.icon--gallery {
  font-family: 'bbcicons--media';
}

.icon--gallery:before {
  content: '\e117';
}

.icon--fs {
  font-family: 'bbcicons--media';
}

.icon--fs:before {
  content: '\e11f';
}

.icon--volume {
  font-family: 'bbcicons--media';
}

.icon--volume:before {
  content: '\e111';
}

.icon--muted {
  font-family: 'bbcicons--media';
}

.icon--muted:before {
  content: '\e122';
}

.icon--love {
  font-family: 'bbcicons--social';
}

.icon--love:before {
  content: '\e205';
}

.icon--share {
  font-family: 'bbcicons--social';
}

.icon--share:before {
  content: '\e200';
}

.icon--digg {
  font-family: 'bbcicons--social';
}

.icon--digg:before {
  content: '\e30A';
}

.icon--google {
  font-family: 'bbcicons--social';
}

.icon--google:before {
  content: '\e303';
}

.icon--reddit {
  font-family: 'bbcicons--social';
}

.icon--reddit:before {
  content: '\e309';
}

.icon--twitter {
  font-family: 'bbcicons--social';
}

.icon--twitter:before {
  content: '\e300';
}

.icon--facebook {
  font-family: 'bbcicons--social';
}

.icon--facebook:before {
  content: '\e301';
}

.icon--linkedin {
  font-family: 'bbcicons--social';
}

.icon--linkedin:before {
  content: '\e308';
}

.icon--stumbleupon {
  font-family: 'bbcicons--social';
}

.icon--stumbleupon:before {
  content: '\e307';
}

.icon--email {
  font-family: 'bbcicons--social';
}

.icon--email:before {
  content: '\e200';
}

.w--xs-one-whole {
  width: 100%;
}

.w--xs-seven-eighths {
  width: 87.5%;
}

.w--xs-four-fifths {
  width: 80%;
}

.w--xs-three-quarters {
  width: 75%;
}

.w--xs-two-thirds {
  width: 66.6666%;
}

.w--xs-five-eighths {
  width: 62.5%;
}

.w--xs-three-fifths {
  width: 60%;
}

.w--xs-one-half {
  width: 50%;
}

.w--xs-two-fifths {
  width: 40%;
}

.w--xs-three-eighths {
  width: 37.5%;
}

.w--xs-one-third {
  width: 33.3333%;
}

.w--xs-one-quarter {
  width: 25%;
}

.w--xs-one-fifth {
  width: 20%;
}

.w--xs-one-eighth {
  width: 12.5%;
}

@media (min-width: 640px) {
  .w--s-one-whole {
    width: 100%;
  }
}

@media (min-width: 640px) {
  .w--s-seven-eighths {
    width: 87.5%;
  }
}

@media (min-width: 640px) {
  .w--s-four-fifths {
    width: 80%;
  }
}

@media (min-width: 640px) {
  .w--s-three-quarters {
    width: 75%;
  }
}

@media (min-width: 640px) {
  .w--s-two-thirds {
    width: 66.6666%;
  }
}

@media (min-width: 640px) {
  .w--s-five-eighths {
    width: 62.5%;
  }
}

@media (min-width: 640px) {
  .w--s-three-fifths {
    width: 60%;
  }
}

@media (min-width: 640px) {
  .w--s-one-half {
    width: 50%;
  }
}

@media (min-width: 640px) {
  .w--s-two-fifths {
    width: 40%;
  }
}

@media (min-width: 640px) {
  .w--s-three-eighths {
    width: 37.5%;
  }
}

@media (min-width: 640px) {
  .w--s-one-third {
    width: 33.3333%;
  }
}

@media (min-width: 640px) {
  .w--s-one-quarter {
    width: 25%;
  }
}

@media (min-width: 640px) {
  .w--s-one-fifth {
    width: 20%;
  }
}

@media (min-width: 640px) {
  .w--s-one-eighth {
    width: 12.5%;
  }
}

@media (min-width: 960px) {
  .w--m-one-whole {
    width: 100%;
  }
}

@media (min-width: 960px) {
  .w--m-seven-eighths {
    width: 87.5%;
  }
}

@media (min-width: 960px) {
  .w--m-four-fifths {
    width: 80%;
  }
}

@media (min-width: 960px) {
  .w--m-three-quarters {
    width: 75%;
  }
}

@media (min-width: 960px) {
  .w--m-two-thirds {
    width: 66.6666%;
  }
}

@media (min-width: 960px) {
  .w--m-five-eighths {
    width: 62.5%;
  }
}

@media (min-width: 960px) {
  .w--m-three-fifths {
    width: 60%;
  }
}

@media (min-width: 960px) {
  .w--m-one-half {
    width: 50%;
  }
}

@media (min-width: 960px) {
  .w--m-two-fifths {
    width: 40%;
  }
}

@media (min-width: 960px) {
  .w--m-three-eighths {
    width: 37.5%;
  }
}

@media (min-width: 960px) {
  .w--m-one-third {
    width: 33.3333%;
  }
}

@media (min-width: 960px) {
  .w--m-one-quarter {
    width: 25%;
  }
}

@media (min-width: 960px) {
  .w--m-one-fifth {
    width: 20%;
  }
}

@media (min-width: 960px) {
  .w--m-one-eighth {
    width: 12.5%;
  }
}

@media (min-width: 1200px) {
  .w--l-one-whole {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .w--l-seven-eighths {
    width: 87.5%;
  }
}

@media (min-width: 1200px) {
  .w--l-four-fifths {
    width: 80%;
  }
}

@media (min-width: 1200px) {
  .w--l-three-quarters {
    width: 75%;
  }
}

@media (min-width: 1200px) {
  .w--l-two-thirds {
    width: 66.6666%;
  }
}

@media (min-width: 1200px) {
  .w--l-five-eighths {
    width: 62.5%;
  }
}

@media (min-width: 1200px) {
  .w--l-three-fifths {
    width: 60%;
  }
}

@media (min-width: 1200px) {
  .w--l-one-half {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .w--l-two-fifths {
    width: 40%;
  }
}

@media (min-width: 1200px) {
  .w--l-three-eighths {
    width: 37.5%;
  }
}

@media (min-width: 1200px) {
  .w--l-one-third {
    width: 33.3333%;
  }
}

@media (min-width: 1200px) {
  .w--l-one-quarter {
    width: 25%;
  }
}

@media (min-width: 1200px) {
  .w--l-one-fifth {
    width: 20%;
  }
}

@media (min-width: 1200px) {
  .w--l-one-eighth {
    width: 12.5%;
  }
}

@media (min-width: 1440px) {
  .w--xl-one-whole {
    width: 100%;
  }
}

@media (min-width: 1440px) {
  .w--xl-seven-eighths {
    width: 87.5%;
  }
}

@media (min-width: 1440px) {
  .w--xl-four-fifths {
    width: 80%;
  }
}

@media (min-width: 1440px) {
  .w--xl-three-quarters {
    width: 75%;
  }
}

@media (min-width: 1440px) {
  .w--xl-two-thirds {
    width: 66.6666%;
  }
}

@media (min-width: 1440px) {
  .w--xl-five-eighths {
    width: 62.5%;
  }
}

@media (min-width: 1440px) {
  .w--xl-three-fifths {
    width: 60%;
  }
}

@media (min-width: 1440px) {
  .w--xl-one-half {
    width: 50%;
  }
}

@media (min-width: 1440px) {
  .w--xl-two-fifths {
    width: 40%;
  }
}

@media (min-width: 1440px) {
  .w--xl-three-eighths {
    width: 37.5%;
  }
}

@media (min-width: 1440px) {
  .w--xl-one-third {
    width: 33.3333%;
  }
}

@media (min-width: 1440px) {
  .w--xl-one-quarter {
    width: 25%;
  }
}

@media (min-width: 1440px) {
  .w--xl-one-fifth {
    width: 20%;
  }
}

@media (min-width: 1440px) {
  .w--xl-one-eighth {
    width: 12.5%;
  }
}

.grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -48px;
  margin-left: -3rem;
}

.grid__item {
  padding-left: 48px;
  padding-left: 3rem;
}

.grid--stretch {
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.grid--stretch > .grid__item {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex: 1;
  flex-grow: 1;
}

.grid--flex-cell > .grid__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.grid--nowrap {
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.grid--flush {
  margin-left: 0;
}

.grid--flush > .grid__item {
  margin-bottom: 0;
  padding-left: 0;
}

.grid--slim {
  margin-left: -16px;
  margin-left: -1rem;
}

.grid--slim > .grid__item {
  margin-bottom: 16px;
  margin-bottom: 1rem;
  padding-left: 16px;
  padding-left: 1rem;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  background: #eee;
  font-size: 1.4rem;
  font-family: Helvetica, Arial, sans-serif;
}

body * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

p {
  font-size: 1.6rem;
  line-height: 1.6;
}

@font-face {
  font-family: 'bbcicons--media';
  src: url(http://clients.tuimedia.com/bbc-fonts/gelicons-media.ttf);
}

@font-face {
  font-family: 'bbcicons--social';
  src: url(http://clients.tuimedia.com/bbc-fonts/gelicons-social.ttf);
}

@font-face {
  font-family: 'bbcicons--core';
  src: url(http://clients.tuimedia.com/bbc-fonts/gelicons-core.ttf);
}